@model IEnumerable<Raidplanner.Models.Forms.CreateLootForm>

@{
    ViewData["Title"] = "Liste des Loots";
}

<h2>Liste des Loots</h2>

<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RaidId)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <th>
                    @Html.DisplayFor(modelItem => item.Description)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.RaidId)
                </th>
            </tr>
        }
    </tbody>
</table>
